@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
}

.left_box {
    flex-grow: 2;
    width: 50%;
}

.image-container {
    position: relative;
    max-width: 100%;
}

.form-image {
    position: relative;
    width: 100%;
}

.image-header {
    display: flex;
    background-color: black;
    opacity: 0.6;
    max-height: 30%;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 12rem;
}

.image-heading {
    color: white;
    font-size: 7rem;
    font-family: "norsebold";
    
}

.logo {
    height: 7rem;
}

.image-footer {
    position: absolute;
    bottom: 1rem;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;

}

a {
    color: white;
}

.right_box {
    flex-grow: 3;
    width: 50%;

    padding-left: 7%;
    padding-top: 6%;
    padding-right: 22%;
}

p {
    font-size: 1.5em;
}

.last-para {
    padding-top: 3%;
    padding-bottom: 7%;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
}

input {
    border-radius: 5px;
    appearance: none;
}

input:invalid {
    border: solid red;
}

input:focus {
    border: solid #73a6dd;
    box-shadow: 0 0 3px blue;
    outline: none;
}

.input {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

.first-line {
    padding-top: 1em;
}

label {
    font-weight: bold;
}

button {
    margin-bottom: 4%;
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    background-color: #596D48;
    font-weight: bold;
    color: white;
}

.last-line {
    font-size: large;
}

.log-in {
    color: #596D48;
}
